<footer class="footer section" id="footer">
      <div class="footer__container container grid">
        <div>
          <a href="#" class="footer__logo">
            <img
              src="{{url_for('static', filename='homepage/assets/img/logo-nav.png')}}"
              alt="footer_image"
            />
            OU GYM
          </a>
          <p class="footer__description">
            Subscribe for company <br />
            updates below.
          </p>

          <form action="" class="footer__form" id="contact-form">
            <input
              type="email"
              name="user_email"
              placeholder="Your email"
              class="footer__input"
              id="contact-user"
            />
            <button type="submit" class="button">Subscribe</button>
          </form>
          <p class="footer__message" id="contact-message"></p>
        </div>
        <div class="footer__content">
          <div>
            <h3 class="footer__title">SERVICES</h3>
            <ul class="footer__links">
              <li>
                <a href="#" class="footer__link">Flex Muscle</a>
              </li>

              <li>
                <a href="#" class="footer__link">Cardio Exercise</a>
              </li>

              <li>
                <a href="#" class="footer__link">Basic Yoga</a>
              </li>

              <li>
                <a href="#" class="footer__link">Weight Lifting</a>
              </li>
            </ul>
          </div>

          <div>
            <h3 class="footer__title">PRICING</h3>
            <ul class="footer__links">
              <li>
                <a href="#" class="footer__link">Basic</a>
              </li>

              <li>
                <a href="#" class="footer__link">Premium</a>
              </li>

              <li>
                <a href="#" class="footer__link">Diamond</a>
              </li>
            </ul>
          </div>

          <div>
            <h3 class="footer__title">COMPANY</h3>
            <ul class="footer__links">
              <li>
                <a href="#" class="footer__link">About Us</a>
              </li>

              <li>
                <a href="#" class="footer__link">Careers</a>
              </li>

              <li>
                <a href="#" class="footer__link">Customers</a>
              </li>

              <li>
                <a href="#" class="footer__link">Partners</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="footer__group">
          <ul class="footer__social">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="footer__social-link"
            >
              <i class="ri-facebook-circle-fill"></i>
            </a>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="footer__social-link"
            >
              <i class="ri-instagram-fill"></i>
            </a>
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="footer__social-link"
            >
              <i class="ri-youtube-fill"></i>
            </a>
          </ul>

          <span class="footer__copy">
            &#169; Copyright Tr Đ Hoang, Tr Q Moc, L M Nhat - All rights
            reserved
          </span>
        </div>
      </div>
    </footer>