<!--==================== HEADER ====================-->
<header class="header" id="header">
  <nav class="nav container">
    <a href="#" class="nav__logo">
      <img
        src="{{url_for('static', filename='homepage/assets/img/logo-nav.png')}}"
        alt="logo"
      />
      OU GYM
    </a>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link active-link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#program" class="nav__link">Program</a>
        </li>
        <li class="nav__item">
          <a href="#choose" class="nav__link">Choose Us</a>
        </li>
        <li class="nav__item">
          <a href="#pricing" class="nav__link">Pricing</a>
        </li>
      </ul>
      <div class="nav__close" id="nav-close">
        <i class="ri-close-line"></i>
      </div>
    </div>

    <div class="nav__buttons">
      <a href="/login" class="button nav__button">Đăng nhập</a>
      <a href="/register" class="button nav__button">Đăng kí</a>
    </div>

    <!-- Toogle button -->
    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-menu-line"></i>
    </div>
  </nav>
</header>
