<section class="choose section" id="choose">
  <div class="choose__overflow">
    <div class="choose__container container grid">
      <div class="choose__content">
        <div class="section__data">
          <h2 class="section__subtitle">Vì sao chọn OU GYM</h2>
          <div class="section__titles">
            <h1 class="saction__title-border">LÝ DO</h1>
            <h1 class="saction__title">BẠN NÊN TẬP Ở ĐÂY</h1>
          </div>
        </div>
        <p class="choose__description">
          Chọn lớp học bạn yêu thích và bắt đầu ngay hôm nay. Buổi tập duy nhất
          lãng phí là buổi tập bạn bỏ lỡ.
        </p>

        <div class="choose__data">
          <div class="choose__group">
            <h3 class="choose__number">200+</h3>
            <p class="choose__subtitle">Hội viên tin tưởng</p>
          </div>

          <div class="choose__group">
            <h3 class="choose__number">50+</h3>
            <p class="choose__subtitle">Huấn luyện viên đạt chuẩn</p>
          </div>

          <div class="choose__group">
            <h3 class="choose__number">25+</h3>
            <p class="choose__subtitle">Chương trình</p>
          </div>

          <div class="choose__group">
            <h3 class="choose__number">100+</h3>
            <p class="choose__subtitle">Giải thưởng</p>
          </div>
        </div>
      </div>
      <div class="choose__images">
        <img
          src="{{url_for('static', filename='homepage/assets/img/choose-img.png')}}"
          alt="choose image"
          class="choose__img"
        />
        <div class="choose__triangle choose__triangle-1"></div>
        <div class="choose__triangle choose__triangle-2"></div>
        <div class="choose__triangle choose__triangle-3"></div>
      </div>
    </div>
  </div>
</section>
