<section class="home section" id="home">
  <div class="home__container container grid">
    <div class="home__data">
      <h2 class="home__subtitle">MAKE YOUR</h2>
      <h1 class="home__title">BODY SHAPE</h1>
      <p class="home__description">
        OU GYM giúp bạn rèn luyện khoa học, cải thiện sức khỏe và tự tin chinh
        phục mọi mục tiêu thể chất trong cuộc sống.
      </p>
      <a href="/register" class="button button__flex">
        Đăng kí ngay
        <i class="ri-arrow-right-line"></i
      ></a>
    </div>
    <div class="home__images">
      <img
        src="{{url_for('static', filename='homepage/assets/img/home-img.png')}}"
        alt="home image"
        class="home__img"
      />
      <div class="home__triangle home__triangle-3"></div>
      <div class="home__triangle home__triangle-2"></div>
      <div class="home__triangle home__triangle-1"></div>
    </div>
  </div>
</section>
