{% extends "layout/base.html" %}

{% block title %}OU Gym Website{% endblock %}

{% block content %}

    <!--==================== MAIN ====================-->
    
      <!--==================== HOME ====================-->

      {% include "homepage/home.html" %}

      <!--==================== LOGOS ====================-->

      {% include "homepage/logos.html" %}

      <!--==================== PROGRAM ====================-->

      {% include "homepage/program.html" %}
      
      <!--==================== CHOOSE US ====================-->
      
      {% include "homepage/chooseus.html" %}

      <!--==================== PRICING ====================-->
      
      {% include "homepage/pricing.html" %}

      <!--==================== CALCULATE ====================-->
      
      {% include "homepage/calculate.html" %}

{% endblock %}