<section class="logos section">
  <div class="logos__container container grid">
    <img
      src="{{url_for('static', filename='homepage/assets/img/logo1.png')}}"
      alt="logo image"
      class="logos__img"
    />
    <img
      src="{{url_for('static', filename='homepage/assets/img/logo2.png')}}"
      alt="logo image"
      class="logos__img"
    />
    <img
      src="{{url_for('static', filename='homepage/assets/img/logo3.png')}}"
      alt="logo image"
      class="logos__img"
    />
    <img
      src="{{url_for('static', filename='homepage/assets/img/logo4.png')}}"
      alt="logo image"
      class="logos__img"
    />
  </div>
</section>
