<section class="pricing section" id="pricing">
  <div class="container">
    <div class="section__data">
      <h2 class="section__subtitle">Bảng giá hội viên</h2>
      <div class="section__titles">
        <h1 class="section__title-border">GÓI TẬP</h1>
        <h1 class="section__title">ƯU ĐÃI</h1>
      </div>
    </div>
    <div class="pricing__container grid">
      <article class="pricing__card">
        <header class="pricing__header">
          <div class="pricing__shape">
            <img
              src="{{url_for('static', filename='homepage/assets/img/pricing1.png')}}"
              alt="pricing image"
              class="pricing__img"
            />
          </div>
          <h1 class="pricing__title">GÓI CƠ BẢN</h1>
          <h2 class="pricing__number">500.000đ</h2>
        </header>
        <ul class="pricing__list">
          <li class="pricing__item">
            <i class="ri-checkbox-circle-line"></i> Tập 5 buổi/tuần
          </li>

          <li class="pricing__item">
            <i class="ri-checkbox-circle-line"></i> 01 áo OU Gym
          </li>

          <li class="pricing__item pricing__item-opacity">
            <i class="ri-checkbox-circle-line"></i> 05 buổi group class
          </li>

          <li class="pricing__item pricing__item-opacity">
            <i class="ri-checkbox-circle-line"></i> Thư viện video cơ bản
          </li>

          <li class="pricing__item pricing__item-opacity">
            <i class="ri-checkbox-circle-line"></i> Hướng dẫn giãn cơ
          </li>
        </ul>

        <a href="#" class="button button__flex pricing__button">
          Đăng kí ngay <i class="ri-arrow-right-line"></i>
        </a>
      </article>

      <article class="pricing__card pricing__card-active">
        <header class="pricing__header">
          <div class="pricing__shape">
            <img
              src="{{url_for('static', filename='homepage/assets/img/pricing2.png')}}"
              alt="pricing image"
              class="pricing__img"
            />
          </div>
          <h1 class="pricing__title">GÓI NÂNG CAO</h1>
          <h2 class="pricing__number">1.200.000đ</h2>
        </header>
        <ul class="pricing__list">
          <li class="pricing__item">
            <i class="ri-checkbox-circle-line"></i> Tập không giới hạn
          </li>

          <li class="pricing__item">
            <i class="ri-checkbox-circle-line"></i> 01 áo & 01 bình nước
          </li>

          <li class="pricing__item">
            <i class="ri-checkbox-circle-line"></i> 10 buổi group class
          </li>

          <li class="pricing__item pricing__item-opacity">
            <i class="ri-checkbox-circle-line"></i> Video + giáo trình online
          </li>

          <li class="pricing__item pricing__item-opacity">
            <i class="ri-checkbox-circle-line"></i> Đánh giá InBody mỗi tháng
          </li>
        </ul>

        <a href="#" class="button button__flex pricing__button">
          Đăng kí ngay <i class="ri-arrow-right-line"></i>
        </a>
      </article>

      <article class="pricing__card">
        <header class="pricing__header">
          <div class="pricing__shape">
            <img
              src="{{url_for('static', filename='homepage/assets/img/pricing3.png')}}"
              alt="pricing image"
              class="pricing__img"
            />
          </div>
          <h1 class="pricing__title">GÓI VIP</h1>
          <h2 class="pricing__number">3.500.000đ</h2>
        </header>
        <ul class="pricing__list">
          <li class="pricing__item">
            <i class="ri-checkbox-circle-line"></i> Tập không giới hạn
          </li>

          <li class="pricing__item">
            <i class="ri-checkbox-circle-line"></i> Bộ quà tặng cao cấp
          </li>

          <li class="pricing__item">
            <i class="ri-checkbox-circle-line"></i> 04 buổi PT 1-1/tháng
          </li>

          <li class="pricing__item">
            <i class="ri-checkbox-circle-line"></i> Video độc quyền + coach online
          </li>

          <li class="pricing__item">
            <i class="ri-checkbox-circle-line"></i> Chăm sóc dinh dưỡng riêng
          </li>
        </ul>

        <a href="#" class="button button__flex pricing__button">
          Đăng kí ngay <i class="ri-arrow-right-line"></i>
        </a>
      </article>
    </div>
  </div>
</section>
