<section class="program section" id="program">
  <div class="container">
    <div class="section__data">
      <h2 class="section__subtitle">Chương trình tập luyện</h2>
      <div class="section__titles">
        <h1 class="section__title-border">NÂNG TẦM</h1>
        <h1 class="section__title">THỂ CHẠNG</h1>
      </div>
    </div>
    <div class="program__container grid">
      <article class="program__card">
        <div class="program__shape">
          <img
            src="{{url_for('static', filename='homepage/assets/img/program1.png')}}"
            alt="program image"
            class="program__img"
          />
        </div>
        <h3 class="program__title">Tăng cường cơ bắp</h3>
        <p class="program__description">
          Tập trung vào các bài compound giúp kích hoạt nhiều nhóm cơ và phát
          triển sức mạnh toàn diện.
        </p>
        <a href="#" class="program__button">
          <i class="ri-arrow-right-line"></i>
        </a>
      </article>

      <article class="program__card">
        <div class="program__shape">
          <img
            src="{{url_for('static', filename='homepage/assets/img/program2.png')}}"
            alt="program image"
            class="program__img"
          />
        </div>
        <h3 class="program__title">Cardio đốt mỡ</h3>
        <p class="program__description">
          Các buổi HIIT/Low Impact giúp tim mạch khỏe hơn và hỗ trợ giảm mỡ hiệu
          quả.
        </p>
        <a href="#" class="program__button">
          <i class="ri-arrow-right-line"></i>
        </a>
      </article>

      <article class="program__card">
        <div class="program__shape">
          <img
            src="{{url_for('static', filename='homepage/assets/img/program3.png')}}"
            alt="program image"
            class="program__img"
          />
        </div>
        <h3 class="program__title">Yoga cơ bản</h3>
        <p class="program__description">
          Kết hợp hít thở và động tác dẻo dai giúp thư giãn tinh thần, cân bằng
          cơ thể.
        </p>
        <a href="#" class="program__button">
          <i class="ri-arrow-right-line"></i>
        </a>
      </article>

      <article class="program__card">
        <div class="program__shape">
          <img
            src="{{url_for('static', filename='homepage/assets/img/program4.png')}}"
            alt="program image"
            class="program__img"
          />
        </div>
        <h3 class="program__title">Tạ và sức mạnh</h3>
        <p class="program__description">
          Giáo án nâng tạ chuẩn chỉnh giúp cải thiện kỹ thuật và chinh phục mức
          tạ mục tiêu.
        </p>
        <a href="#" class="program__button">
          <i class="ri-arrow-right-line"></i>
        </a>
      </article>
    </div>
  </div>
</section>
